@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #333; /* Darker background for the track */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Sleek dark thumb */
    border-radius: 10px;
    transition: background-color 0.3s ease;
  }
  
  /* Thumb hover effect */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Lighten when hovered */
  }


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; /* transparent bg */
  -webkit-text-fill-color: white !important; /* text color */
  caret-color: white !important; /* caret matches text */
  transition: background-color 5000s ease-in-out 0s; /* prevents yellow flash */
  background-color: transparent !important; /* ensure transparent background */
}